# Ignore all dotfiles #
#######################
.*
!/.gitignore
!/.git-blame-ignore-revs
!/.editorconfig
!/.scrutinizer.yml
!/.php_cs
!/.github/
!/.codeclimate.yml
!/.mention-bot
!/.env.example

# Others #
##########
__pycache__
*.pyc
*.swp
Thumbs.db
config.php
html/css/custom/*
html/images/custom/*
includes/custom/*
junk
nbproject
patches
!/lib/yaml
/vendor
/node_modules
npm-debug.log
yarn-error.log
composer.phar
composer.plugins.json
_ide_helper.php
_ide_helper_models.php
resources/views/menu/custom.blade.php
resources/js/vue-i18n-locales.generated.js
*.code-workspace

# Docs #
########
out
librenms_theme

bin/
lib/
pyvenv.cfg
mibs/cisco-broadsoft/BW-AuthenticationService.mib
mibs/cisco-broadsoft/BW-BroadworksMediaServer.mib
mibs/cisco-broadsoft/BW-BroadworksResourceAccess.mib
mibs/cisco-broadsoft/BW-BroadworksXtendedServicesPlatform.mib
mibs/cisco-broadsoft/BW-CAPStack.mib
mibs/cisco-broadsoft/BW-CAPStackFault.mib
mibs/cisco-broadsoft/BW-CCReporting.mib
mibs/cisco-broadsoft/BW-CCReportingDBManagement.mib
mibs/cisco-broadsoft/BW-CCReportingDBManagementFault.mib
mibs/cisco-broadsoft/BW-CCReportingRepository.mib
mibs/cisco-broadsoft/BW-CCReportingRepositoryFault.mib
mibs/cisco-broadsoft/BW-CmProxy.mib
mibs/cisco-broadsoft/BW-CommPilot-XS-TAS.mib
mibs/cisco-broadsoft/BW-CommPilot.mib
mibs/cisco-broadsoft/BW-CustomMediaFilesRetrieval.mib
mibs/cisco-broadsoft/BW-DatabaseServer.mib
mibs/cisco-broadsoft/BW-DatabaseServerFault.mib
mibs/cisco-broadsoft/BW-DBSObserverFault.mib
mibs/cisco-broadsoft/BW-DeviceManagement-TFTP.mib
mibs/cisco-broadsoft/BW-DeviceManagement-TFTPFault.mib
mibs/cisco-broadsoft/BW-DeviceManagementFiles.mib
mibs/cisco-broadsoft/BW-DeviceManagementFilesFault.mib
mibs/cisco-broadsoft/BW-DMS.mib
mibs/cisco-broadsoft/BW-DMSFault.mib
mibs/cisco-broadsoft/BW-ECLQuery.mib
mibs/cisco-broadsoft/BW-ECLRepos.mib
mibs/cisco-broadsoft/BW-ECLReposFault.mib
mibs/cisco-broadsoft/BW-EnhancedCallLogsDBManagement.mib
mibs/cisco-broadsoft/BW-EnhancedCallLogsDBManagementFault.mib
mibs/cisco-broadsoft/BW-EnterpriseMigration.mib
mibs/cisco-broadsoft/BW-EnterpriseMigrationFault.mib
mibs/cisco-broadsoft/BW-Execution.mib
mibs/cisco-broadsoft/BW-ExecutionDataless.mib
mibs/cisco-broadsoft/BW-ExecutionDatalessFault.mib
mibs/cisco-broadsoft/BW-ExecutionFault.mib
mibs/cisco-broadsoft/BW-FileRepos.mib
mibs/cisco-broadsoft/BW-FileReposExtdCapture.mib
mibs/cisco-broadsoft/BW-FileReposExtdCaptureFault.mib
mibs/cisco-broadsoft/BW-FileReposFault.mib
mibs/cisco-broadsoft/BW-FileTransfer.mib
mibs/cisco-broadsoft/BW-FileTransferFault.mib
mibs/cisco-broadsoft/BW-HttpProxy.mib
mibs/cisco-broadsoft/BW-HttpProxyFault.mib
mibs/cisco-broadsoft/BW-IS41Stack.mib
mibs/cisco-broadsoft/BW-IS41StackFault.mib
mibs/cisco-broadsoft/BW-JWSFiles.mib
mibs/cisco-broadsoft/BW-JWSFilesFault.mib
mibs/cisco-broadsoft/BW-LicenseController.mib
mibs/cisco-broadsoft/BW-LicenseControllerFault.mib
mibs/cisco-broadsoft/BW-LicenseManager.mib
mibs/cisco-broadsoft/BW-LicenseManagerFault.mib
mibs/cisco-broadsoft/BW-LoadBalancer.mib
mibs/cisco-broadsoft/BW-LoadBalancerFault.mib
mibs/cisco-broadsoft/BW-LogRepos.mib
mibs/cisco-broadsoft/BW-LogReposFault.mib
mibs/cisco-broadsoft/BW-LogServer.mib
mibs/cisco-broadsoft/BW-LogServerFault.mib
mibs/cisco-broadsoft/BW-MAPStack.mib
mibs/cisco-broadsoft/BW-MAPStackFault.mib
mibs/cisco-broadsoft/BW-MDBManagement.mib
mibs/cisco-broadsoft/BW-MDBManagementFault.mib
mibs/cisco-broadsoft/BW-MediaFiles.mib
mibs/cisco-broadsoft/BW-MediaFilesFault.mib
mibs/cisco-broadsoft/BW-MediaServerFault.mib
mibs/cisco-broadsoft/BW-MeetMeConfRepos.mib
mibs/cisco-broadsoft/BW-MeetMeConfReposFault.mib
mibs/cisco-broadsoft/BW-NetworkMonitoring.mib
mibs/cisco-broadsoft/BW-NetworkMonitoringFault.mib
mibs/cisco-broadsoft/BW-NFInterface.mib
mibs/cisco-broadsoft/BW-NFMPortal.mib
mibs/cisco-broadsoft/BW-NodeController.mib
mibs/cisco-broadsoft/BW-NodeControllerFault.mib
mibs/cisco-broadsoft/BW-NodeInterface.mib
mibs/cisco-broadsoft/BW-NodeLifecycleManagerFault.mib
mibs/cisco-broadsoft/BW-NotificationPushServer.mib
mibs/cisco-broadsoft/BW-NotificationPushServerFault.mib
mibs/cisco-broadsoft/BW-NSExecution.mib
mibs/cisco-broadsoft/BW-NSExecutionFault.mib
mibs/cisco-broadsoft/BW-NSPortal.mib
mibs/cisco-broadsoft/BW-NSPortalFault.mib
mibs/cisco-broadsoft/BW-NSProvisioning.mib
mibs/cisco-broadsoft/BW-NSProvisioningFault.mib
mibs/cisco-broadsoft/BW-OCIFiles.mib
mibs/cisco-broadsoft/BW-OCIOverSoap.mib
mibs/cisco-broadsoft/BW-OpenClientServer.mib
mibs/cisco-broadsoft/BW-OpenClientServerFault.mib
mibs/cisco-broadsoft/BW-Provisioning-XS-TAS.mib
mibs/cisco-broadsoft/BW-Provisioning.mib
mibs/cisco-broadsoft/BW-ProvisioningFault-XS-TAS.mib
mibs/cisco-broadsoft/BW-ProvisioningFault.mib
mibs/cisco-broadsoft/BW-PublicECLQuery.mib
mibs/cisco-broadsoft/BW-PublicECLQueryFault.mib
mibs/cisco-broadsoft/BW-PublicReporting.mib
mibs/cisco-broadsoft/BW-PublicReportingFault.mib
mibs/cisco-broadsoft/BW-RatingFunction.mib
mibs/cisco-broadsoft/BW-RatingFunctionFault.mib
mibs/cisco-broadsoft/BW-SCFProcessor.mib
mibs/cisco-broadsoft/BW-SCFProcessorFault.mib
mibs/cisco-broadsoft/BW-SoftwareManagement.mib
mibs/cisco-broadsoft/BW-SoftwareManagementFault.mib
mibs/cisco-broadsoft/BW-SS7Stack.mib
mibs/cisco-broadsoft/BW-SS7StackFault.mib
mibs/cisco-broadsoft/BW-Subscriber.mib
mibs/cisco-broadsoft/BW-SubscriberFault.mib
mibs/cisco-broadsoft/BW-TemporaryFiles.mib
mibs/cisco-broadsoft/BW-WebContainerFault.mib
mibs/cisco-broadsoft/BroadworksFault.mib
mibs/cisco-broadsoft/BroadworksConfigurationFault.mib
mibs/cisco-broadsoft/BW-XsiActions-XS-TAS.mib
mibs/cisco-broadsoft/BW-XsiActions.mib
mibs/cisco-broadsoft/BW-XsiEvents-XS-TAS.mib
mibs/cisco-broadsoft/BW-XsiEvents.mib
mibs/cisco-broadsoft/BW-XsiMMTel-XS-TAS.mib
mibs/cisco-broadsoft/BW-XsiMMTel.mib
mibs/cisco-broadsoft/BW-XsiVTR-XS-TAS.mib
mibs/cisco-broadsoft/BW-XsiVTR.mib
mibs/cisco-broadsoft/HOST-RESOURCES-MIB.mib
mibs/cisco-broadsoft/IANAifType-MIB.mib
mibs/cisco-broadsoft/IF-MIB.mib
mibs/cisco-broadsoft/IPV6-MIB.mib
mibs/cisco-broadsoft/IPV6-TC.mib
mibs/cisco-broadsoft/mibII.mib
mibs/cisco-broadsoft/SNMPv2-MIB.mib
mibs/cisco-broadsoft/sun.mib
mibs/cisco-broadsoft/UCD-SNMP-MIB.mib
mibs/cisco-broadsoft/TimesTen.mib
mibs/cisco-broadsoft/BW-XtendedServicesPlatformFault.mib
mibs/cisco-broadsoft/BW-WebContainer.mib
